.mat-icon {
  font-size: 100px;
  cursor: pointer;
}

.mat-badge-content {
  width: auto;
  display: grid;
  min-width: 32px;
  min-height: 28px;
  text-align: center;
  align-items: center;
  padding: 5px 3px;
  top: -20px;
  right: -22px;
}
