<div class="container  mt-4">
  <h1 class="text-center">README</h1>
  <hr>
  <h2 class="mb-0">Store Name:</h2>
  <p  class="lead">Green Garden</p>

  <h2 class="mb-0">What we are selling?</h2>
  <p  class="lead">vegetables, fruits and more...</p>

  <h2 class="mb-0">Additional Pages:</h2>
  <p  class="lead">Add product page - <mark>http://localhost:4200/admin/addProduct</mark> (you must have admin role)
    This page available only for admins and enable to upload a new product to the server.</p>

  <p class="lead">Last purchases page - <mark>http://localhost:4200/admin/purchasesHistory</mark>
    This page available only for admins and enable to see the history purchase of all users.</p>

  <h2 class="mb-0">partner:</h2>
  <p class="lead">Yogev Nissan, 204542047</p>
  <p class="lead" >I was responsible for the front-end server anג Yogev was responsible for the server-side.
  </p>

  <h2 class="mb-0">routes:</h2>
  <p class="lead">/home</p>
  <p class="lead">/shop</p>
  <p class="lead">/cart</p>
  <p class="lead">/checkout</p>
  <p class="lead">/login</p>
  <p class="lead">/register</p>
  <p class="lead">/admin</p>
  <p class="lead">/admin/addProduct</p>
  <p class="lead">/admin/userActivity</p>
  <p class="lead">/admin/purchasesHistory</p>

  <h2 class="mb-0">Security:</h2>
  <p class="lead">- The server defended from ddos by ddos npm package</p>
  <p class="lead">- All routes protected by guard auth - that check if the user login</p>
  <p class="lead">- cookies available only via html - meaning protected from JS attacks.</p>
  <p class="lead">- The server side allow origin only for the client host name - no other site can send request to the server</p>
</div>
